{% extends "layout.html" %}
{% block title %}{{ channel }}{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li><a href="{{ url_for('index') }}">Home</a></li>
		<li class="active">{{ network }} - #{{ channel }}</li>
	</ul>
	{% for url in urls %}
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="{{ url['url'].decode('UTF-8') }}">{{ url['title'].decode('UTF-8') }}</a></h3>
		</div>
		{{ url['ts'].strftime("%c") }} {{ url['source'].decode('UTF-8') }}
	</div>
	{% endfor %}
	{% if pages >0 %}
	<ul class="pagination">
		{% if page == 1 %}
		<li class="disabled"><a href="#">&laquo;</a></li>
		{% else %}
		<li><a href="{{url_for('list_urls', network=network, channel=channel, page=page-1, num_results=num_results)}}">&laquo;</a></li>
		{% endif %}
		{% for i in range(0, pages) %}
			{% if i+1 == page %}
			<li class="active"><a href="#" >{{ i+1 }}</a></li>
			{% else %}
			<li><a href="{{url_for('list_urls', network=network, channel=channel, page=i+1, num_results=num_results)}}">{{ i+1 }}</a></li>
			{% endif %}
		{% endfor %}
		{% if pages == 1 or page == pages %}
		<li class="disabled"><a href="#">&raquo;</a></li>
		{% else %}
		<li><a href="{{url_for('list_urls', network=network, channel=channel, page=page+1, num_results=num_results)}}">&raquo;</a></li>
		{% endif %}
	</ul>
	{% endif %}
{% endblock %}